body{
    background-color: black;
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 4%;
    position: absolute;
    border-bottom: 3px solid rgb(12, 222, 61);
}



/* container style sheet */
.parts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: auto;
    overflow-x: auto;
}
.parts div {
    background-color: #f1eaea;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
    margin: 0; 
    margin-top: 10%;
}
.parts div:hover {
    transform: scale(1.05);
}
.parts h2 {
    color: rgb(0, 0, 0); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    text-align: center;
    width: 100%; 
}
.parts p {
    color: rgb(0, 0, 0); 
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
}
.parts img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .parts {
        flex-direction: column;
        align-items: center;
    }
    .parts div {
        width: 90%;
    }
}



/* container 2 styles sheet */
.parts2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: auto;
    overflow-x: auto;
}
.parts2 div {
    background-color: #f1eaea;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
    margin: 0; 
    margin-top: 1%;
}
.parts2 div:hover {
    transform: scale(1.05);
}
.parts2 h2 {
    color: rgb(0, 0, 0); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    text-align: center;
    width: 100%; 
}
.parts2 p {
    color: black; 
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
}
.parts2 img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .parts {
        flex-direction: column;
        align-items: center;
    }
    .parts div {
        width: 90%;
    }
}