body{
    background-color: black;
}



/* mainimage */
.mainimage img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
    top: 17%;
    z-index: -1;
}
.mainimage h1 {
    position: relative;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    margin-left: 5%;
    display: inline-block;
    border-bottom: 3px solid rgb(12, 222, 61);
    padding-bottom: 5px;
}
.mainimage p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 35%;
    text-align: justify;
    font-size: 18px;
}



/* area1 */
.area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.image h1{
    color: white;
    margin-top: 60px;
}
.area p {
    position: relative;
    flex: 1;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-top: 20%;
    margin-right: 10%;
    right: 5%;
    line-height: 1.8;
    cursor: pointer;
}
.image {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 13%;
    margin-right: 10%;
}
.image h1{
    color: white;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image div {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}
.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.image h2 {
    color: white;
    font-size: 18px;
    margin: 10px 0 5px;
}
.image p {
    font-size: 14px;
    color: #62d151;
    position: inherit;
}
@media (max-width: 768px) {
    .area {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .area p {
        text-align: center;
    }
    .image {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image div {
        width: 200px;
    }
}