body{
    background-color: rgb(0, 0, 0);
}



/* contact main style sheet */
.contactmain img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
    top: 17%;
    z-index: -1;
}
.contactmain h1{
    position: relative;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    margin-left: 5%;
}
.contactmain p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 40%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}



/* contact details sheet */
.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to right, #000000, #727272);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1500px;
    margin-left: 8%;
    margin-top: 11%;
}
.contact-details {
    width: 50%;
}
.contact-details h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #ffffff;
}
.contact-details p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.8;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.contact-item img {
    width: 25px;
    height: 25px;
}
.contact-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-title img {
    width: 30px;
    height: 30px;
}
h2 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 15px;
}
.map-container {
    width: 45%;
}
iframe {
    width: 100%;
    height: 600px;
    border-radius: 8px;
}